/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.shadow-t {
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

.main-img {
    width: 500px;
    height: 700px;
}

.tiptap.ProseMirror.tiptap-editor pre,
.tiptap.ProseMirror.tiptap-editor code,
.tiptap.ProseMirror.tiptap-editor kbd,
.tiptap.ProseMirror.tiptap-editor samp,
.post-detail pre,
.post-detail code,
.post-detail kbd,
.post-detail samp
{
    font-family: 'JetBrainsMono', monospace !important; /* 커스텀 스타일 적용 */
    font-feature-settings: normal !important;
    font-variation-settings: normal !important;
    font-size: 1em !important;
    background: #2E2B29 !important; /* 배경색 재정의 */
    color: white !important;
    border-radius: 0.5rem !important;
    margin: 1.5rem 0 !important;
    padding: 0.75rem 1rem !important;
}

.tiptap.ProseMirror.tiptap-editor pre code,
.post-detail pre code
{
    background: none !important;
    color: inherit !important;
    font-size: 0.8rem !important;
    padding: 0 !important;
}

.tiptap.ProseMirror.tiptap-editor h1,
.tiptap.ProseMirror.tiptap-editor h2,
.tiptap.ProseMirror.tiptap-editor h3,
.tiptap.ProseMirror.tiptap-editor h4,
.tiptap.ProseMirror.tiptap-editor h5,
.tiptap.ProseMirror.tiptap-editor h6,
.post-detail h1,
.post-detail h2,
.post-detail h3,
.post-detail h4,
.post-detail h5,
.post-detail h6
{
    font-size: initial !important;
    font-weight: bold !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.tiptap.ProseMirror.tiptap-editor h1,
.post-detail h1
{
    font-size: 2rem !important;
}

.tiptap.ProseMirror.tiptap-editor h2,
.post-detail h2
{
    font-size: 1.75rem !important;
}

.tiptap.ProseMirror.tiptap-editor h3,
.post-detail h3
{
    font-size: 1.5rem !important;
}

.tiptap.ProseMirror.tiptap-editor h4,
.post-detail h4
{
    font-size: 1.25rem !important;
}

.tiptap.ProseMirror.tiptap-editor h5,
.post-detail h5
{
    font-size: 1rem !important;
}

.tiptap.ProseMirror.tiptap-editor h6,
.post-detail h6
{
    font-size: 0.875rem !important;
}

/*list style*/
.tiptap.ProseMirror.tiptap-editor ul,
.post-detail ul,
.tiptap.ProseMirror.tiptap-editor ol,
.post-detail ol {
    padding-left: 1.25rem;
}

.tiptap.ProseMirror.tiptap-editor ul,
.post-detail ul {
    list-style-type: disc;
}

.tiptap.ProseMirror.tiptap-editor ol,
.post-detail ol {
    list-style-type: decimal;
}

.tiptap.ProseMirror.tiptap-editor li,
.post-detail li {
    margin: 0.5rem 0;
}